<!-- Preloading -->
<div id="preloader">
    <div class="spinner">
    </div>
</div>

<!-- Wrapper -->
<div class="wrapper top_60 container">
    <div class="row">

        <!-- Profile Section
        ================================================== -->
        <div class="col-lg-3 col-md-4">
            <div class="profile">
                {% for portfeuille in portfeuille %}
                <figure class="profile-image">
                    <img src="{{ asset('web/uploads/annonce/' ~ portfeuille.getPhoto) }}" alt="...">
                </figure>
                <ul class="profile-information">
                    <li></li>
                    <li><p><span>Name:</span> {{ portfeuille.fullName }}</p></li>
                    <li><p><span>Birthday:</span> {% if portfeuille.birthDate %}{{ portfeuille.birthDate|date('Y-m-d') }}{% endif %}</p></li>

                </ul>

            </div>
        </div>

        <!-- Page Tab Container Div -->
        <div id="ajax-tab-container" class="col-lg-9 col-md-8 tab-container">

            <!-- Header
            ================================================== -->
            <div class="row">
                <header class="col-md-12">
                    <nav>
                        <div class="row">
                            <!-- navigation bar -->
                            <div class="col-md-8 col-sm-8 col-xs-4">
                                <ul class="tabs">
                                    <li class="tab">
                                        <a class="home-btn" href="#home"><i class="fa fa-home" aria-hidden="true"></i></a>
                                    </li>
                                    <li class="tab"><a href="#resume">RESUME</a></li>

                                    <li class="tab"><a href="#contact">CONTACT</a></li>
                                </ul>



                            </div>

                        </div>
                    </nav>
                </header>

                <!-- Page Content
                ================================================== -->
                <div class="col-md-12">
                    <div id="content" class="panel-container">

                        <!-- Home Page
                        ================================================== -->
                        <div id="home">
                            <!-- Text Section -->
                            <div class="row">
                                <section class="about-me line col-md-12 padding_30 padbot_45">
                                    <div class="section-title"><span></span><h2>About Me</h2></div>
                                    <p class="top_30">{{ portfeuille.aboutme }}.
                                    </p>
                                </section>
                            </div>{% endfor %}
                            <!-- My Services Section -->
                            {% include 'interst.html.twig' %}
                            <!-- Skills Section -->
                            {% include 'skills.html.twig' %}
                        </div>

                        <!-- Resume Page
                        ================================================== -->
                        <div id="resume">
                            <!-- Resume Section -->
                            <div class="row">
                                <section class="education">
                                    <div class="section-title top_30"><span></span><h2>Resume</h2></div>
                                    <div class="row">
                                        <!-- Working History -->
                                        {% include 'work.html.twig' %}
                                        <!-- Education History -->
                                        {% include 'education.html.twig' %}
                                    </div>
                                </section>
                            </div>
                            <!-- Clients Section -->

                            <!-- Testimonials -->

                            <!-- Portfolio Page
                            ================================================== -->
                            <!-- Blog Page
                            ================================================== -->


                            <!-- Contact Page
                            ================================================== -->
                            {% include 'Contact.html.twig' %}

                        </div><!-- Content - End -->
                    </div> <!-- col-md-12 end -->
                </div><!-- row end -->
                <!-- Footer
                ================================================== -->

            </div>
        </div> <!-- Tab Container - End -->
    </div> <!-- Row - End -->
</div> <!-- Wrapper - End -->