<div class="row">
    <section class="design-skills col-md-6 padding_60 padbot_50">
        <div class="section-title bottom_45"><span></span><h2>My skills</h2></div>
        {% for skill in skills %}
            <ul class="skill-list">
                <li>
                    <h3>{{ skill.skill }}</h3>
                    <div class="progress">
                        <div class="percentage" style="width:{{ skill.pourcentage }}%;"></div>
                    </div>
                </li>

            </ul>
        {% endfor %}
    </section>
</div>