{% extends 'tamplate.html.twig' %}

{% block body %}

    <table class="table">
        <thead>
            <tr>

                <th>Fullname</th>

                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for portfeuille in portfeuilles %}
            <tr>

                <td>{{ portfeuille.fullName }}</td>

                <td>
                    <ul>
                        <li>
                            <a href="{{ path('portfeuille_show', { 'id': portfeuille.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('portfeuille_edit', { 'id': portfeuille.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('portfeuille_new') }}">Create a new portfeuille</a>
        </li>
    </ul>
{% endblock %}
