{% extends 'base.html.twig' %}

{% block body %}
    <h1>Portfeuille creation</h1>
    {% if form is defined %}
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}
    {% endif %}
    <ul>
        <li>
            <a href="{{ path('portfeuille_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
